@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cars4U</h1>
    <p class="lead">Welcome to the Cars4U</p>
    <h2>@Html.ActionLink("Get Started", "Index", "Cars")</h2>
</div>
<div>
    <img src="~/Content/Car.jpg" alt="Smiley face" height=600 width=1140>
</div>

